body{
  background-color: rgb(20, 4, 4);
  color: rgb(228, 204, 204);
  font-family: Arial, Helvetica, sans-serif;
}
.button button{
  background-color: rgb(228, 204, 204);
  color: rgb(20, 4, 4);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 100%;

}