body {
  background-color: rgb(19, 2, 2);
  color: lightgoldenrodyellow;
  font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}
.rupali{
  border-radius: 20px;
  border: 2px solid rgb(221, 124, 124);
}
h1{
  text-decoration: underline;
}